<h1 class="title">2048</h1>
    <div class="container text-center">
        <div class="gameContainer ">
            <div class="row blockrow justify-content-md-center">
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
            </div>
            <div class="row blockrow justify-content-md-center">
                <div class="col-1 block">
                    <div class="tile-2">
                        <h4 class="align-middle">2</h4>
                    </div>
                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
            </div>
            <div class="row blockrow justify-content-md-center">
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
            </div>
            <div class="row blockrow justify-content-md-center">
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
                <div class="col-1 block">

                </div>
            </div>
        </div>
        <br>
        <button id="reset" type="button">Reset Game</button>
    </div>
